.tabla_rifas_actuales{
  margin: 0 auto;
}

.tabla_rifas_actuales, td, th{
  border-collapse: collapse;
  background: #DDD;
  border: 2px solid #BDBDBD;
  text-align: center;
}

.tabla_rifas_actuales td, .tabla_rifas_actuales th{
  padding: 12px;
}

.texto_header_activas{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.agregar_boleto{

}
