.tabla_anteriores{
  margin: 0 auto;
}

.tabla_anteriores, td, th{
  border-collapse: collapse;
  background: #DDD;
  border: 2px solid #BDBDBD;
  text-align: center;
}

.tabla_anteriores td, .tabla_anteriores th{
  padding: 12px;
}
