.dark-primary-color{
	background: #00796B;
}
.default-primary-color{
	background: #009688;
}
.light-primary-color{
	background: #B2DFDB;
}
.text-primary-color{
	color: #FFFFFF;
}
.accent-color{
	background: #00BCD4;
}
.primary-text-color{
	color: #212121;
}
.secondary-text-color{
	color: #757575;
}
.divider-color{
	border-color: #BDBDBD;
}

*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
	font-size: normal;
}

header{
	position: fixed;
	top: 10px;
	z-index: 10;
	display: flex;
	width: 100%;
}

header button{
	width: 10%;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #009688;
	border-radius: 4px;
	background: #00796B;
	color: white;
	cursor: pointer;
}

header button:hover{
	border: 2px solid #00796B;
	background: #009688;
}

.scrolled_header{
	background: black;
}

.contenedor_principal{
	margin-top: 90px;

}

button{
	padding: 7px 20px;
	background: #009688;
	border: 2px solid #00BCD4;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

button:disabled,
button[disabled]{
  border: 2px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.settings{
	font-size: 4rem;
	position: absolute;
	left: 0;
	top: 25%;
	width: 85px;
	height: 75px;
	-webkit-animation: pulsation 3s infinite;
	animation: pulsation 3s infinite;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 4px 4px rgba(0,0,0,.15);
}

@keyframes pulsation {
	0% {font-size: 3.5rem;}
	50% {font-size: 4rem;}
	100% {font-size: 3.5rem;}
}

.texto_header_tablas{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.container_modal{
	position: fixed;
  top: 0;
  left: 0;
  background: rgba(22, 25, 28, 0.8);
  width: 100vw;
  height: 100vh;
  margin: auto auto;
  z-index: 80!important;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_contenido{
	max-width: 85%;
  max-height: 85%;
  background: rgba(22, 25, 28, 0.80);
  border-radius: 10px;
  border: 1px solid #00BCD4;
  position: relative;
  padding: 15px;
	margin: auto;
}

.modal_texto{
	color: white;
}

.modal_titulo{
	font-size: 2rem;
	margin-bottom: 10px;
}

.tabla_modal td,
.tabla_modal th{
	border-collapse: collapse;
	background: #00796B;
	border: 2px solid #009688;
	text-align: center;
}

.botones_modal{
	text-align:center;
	margin-top:10px;
}

.boton_cerrar_modal{
	background: red;
	color: white;
	border-radius: 4px;
}

input{
	width: 85%;
	border: 2px solid #009688;
	background: rgba(0,0,0,0);
	color: white;
	padding: 10px;
}

select{
	width: 85%;
	border: 2px solid #009688;
	background: rgba(0,0,0,0);
	color: white;
	padding: 10px;
}
